<html>
  <head>
    <title>Basic Compiler</title>
    <link rel="stylesheet" media="screen" href="/css/main.css" />
  </head>
  <body>
    <center>
      <div id="icontainer">
        <a href="javascript:sendInput();" id="execute">Execute</a>
        <textarea id="input">(+ 5 (- 4 3))</textarea>
      </div>
      <div id="ocontainer">
        <!--Output from processed input goes here-->
        <div id="output">
          <h1>Awaiting Input...</h1>
        </div>
      </div>
    </center>
    <script src="/js/index.js"></script>
  </body>
</html>